@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int QuotationId = 0;
    string Code = "";
    int Version = 0;
    int CompanyId = 0;
    string CompanyRuc = "";
    string CompanyName = "";
    string CompanyDistrictName = "";
    string CompanyAddress = "";
    int CompanyHeadquarterId = -1;
    string FullName = "";
    string Email = "";
    string CommercialTerms = "";
    int StatusQuotationId = -1;
    if (ViewBag.DataQuotation != null)
    {
        QuotationId = ViewBag.DataQuotation.QuotationId;
        Code = ViewBag.DataQuotation.Code == null ? "sin generar" : ViewBag.DataQuotation.Code;
        Version = ViewBag.DataQuotation.Version;
        CompanyId = ViewBag.DataQuotation.CompanyId;
        CompanyRuc = ViewBag.DataQuotation.CompanyRuc;
        CompanyName = ViewBag.DataQuotation.CompanyName;
        CompanyDistrictName = ViewBag.DataQuotation.CompanyDistrictName;
        CompanyAddress = ViewBag.DataQuotation.CompanyAddress;
        CompanyHeadquarterId = ViewBag.DataQuotation.CompanyHeadquarterId;
        FullName = ViewBag.DataQuotation.FullName;
        Email = ViewBag.DataQuotation.Email;
        CommercialTerms = ViewBag.DataQuotation.CommercialTerms;
        StatusQuotationId = ViewBag.DataQuotation.StatusQuotationId == null ? -1 : ViewBag.DataQuotation.StatusQuotationId;
    }
}

@section Styles{
    <link href="~/assets/css/pages/floating-label.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/html5-editor/bootstrap-wysihtml5.css" />

    <link href="~/Content/Quotation.css" rel="stylesheet" />
    <link href="~/assets/plugins/html5-editor/wysiwyg-color.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                font-family: Arial, sans-serif;
                font-size: 14px;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
                border-color: black;
            }

            .tg th {
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
                border-color: black;
            }

            .tg .tg-9wq8 {
                border-color: inherit;
                text-align: center;
                vertical-align: middle
            }

            .tg .tg-baqh {
                text-align: center;
                vertical-align: top
            }

            .tg .tg-0pky {
                border-color: inherit;
                text-align: center;
                vertical-align: middle
            }

            .tg .tg-nrix {
                text-align: center;
                vertical-align: middle
            }
    </style>


}


<div class="content-alert">
</div>

<div class="row">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Cotización: <span id="spanCode">@Code</span></h3>
        <p class="text-muted m-b-30 font-13"> Versión <span id="spanVersion">@Version</span></p>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form>
                    <div class="form-row">
                        <input type="hidden" id="txtQuotationId" value="@QuotationId" />
                        <input type="hidden" id="txtCompanyId" value="@CompanyId" />
                        <input type="hidden" id="txtCompanyHeadquarterId" value="@CompanyHeadquarterId" />
                        <div class="form-group col-md-4">
                            <label for="txtRuc">RUC</label>
                            <input type="text" class="form-control" id="txtRuc" maxlength="11" value="@CompanyRuc" onkeypress="validateInputNumber(event)" autofocus required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtCompanyName">Empresa</label>
                            <input type="text" class="form-control" id="txtCompanyName" value="@CompanyName" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtDistric">Distrito</label>
                            <input type="text" class="form-control" id="txtDistric" value="@CompanyDistrictName" readonly>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="txtAddress">Dirección</label>
                            <input type="text" class="form-control" id="txtAddress" value="@CompanyAddress" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ddlSede">Sede</label>
                            <select class="form-control form-white" data-placeholder="Seleccione una sede..." id="ddlSede">
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtFullName">Primer Contacto</label>
                            <input type="text" class="form-control" id="txtFullName" maxlength="150" value="@FullName" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="txtEmail">Correo</label>
                            <input type="email" class="form-control" id="txtEmail" maxlength="150" value="@Email" required>
                        </div>
                        <div class="form-group col-md-4" style="display:none">
                            <label for="ddlStatusQuotation">Estado Cotización</label>
                            <select class="form-control form-white select-StatusQuotation" data-placeholder="Seleccione un estado..." id="ddlStatusQuotation" disabled>
                                <option value="-1" @(@StatusQuotationId == -1 ? "selected" : "")></option>
                                <option value="4" @(@StatusQuotationId == 4 ? "selected" : "")>Potencial</option>
                                <option value="1" @(@StatusQuotationId == 1 ? "selected" : "")>Seguimiento</option>
                                <option value="2" @(@StatusQuotationId == 2 ? "selected" : "")>Aceptada</option>
                                <option value="3" @(@StatusQuotationId == 3 ? "selected" : "")>Descartada</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body" style="text-align:right">
        <button onclick="openModal()" class="btn btn-success waves-effect waves-light m-r-10">Agregar Perfil</button>
    </div>

    <div class="card card-body table-responsive">
        <table class="table color-bordered-table info-bordered-table table-main ">
            <thead>
                <tr>
                    <th></th>
                    <th style="display:none">RecordType</th>
                    <th style="display:none">RecordStatus</th>
                    <th style="display:none">ProfileId</th>
                    <th>PERFIL</th>
                    <th>TIPO EMO</th>
                    <th>FORMATO</th>
                    <th class="col-center">CANTIDAD</th>
                    <th class="col-center">SUBTOTAL</th>
                    <th class="col-center">ID</th>
                    <th class="col-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody id="tbody-main">

                @foreach (var profile in ViewBag.DataQuotation.QuotationProfiles)
                {
                <tr id="perfil-@profile.QuotationProfileId" class="parent">
                    <td><i class="fa fa-plus text-inverse m-r-10" onclick="show('perfil-@profile.QuotationProfileId')"></i></td>
                    <td style="display:none" class="RecordType">@profile.RecordType</td>
                    <td style="display:none" class="RecordStatus">@profile.RecordStatus</td>
                    <td style="display:none" class="profileId">@profile.ProfileId</td>
                    <td><input class="form-control input-perfil" type="text" value="@profile.ProfileName" disabled /></td>
                    <td>
                        <select class="form-control form-white select-Service" data-placeholder="Seleccione un servicio..." id="ddlService" disabled>
                            <option value="-1" @(@profile.ServiceTypeId == -1 ? "selected" : "")>--Seleccionar--</option>
                            <option value="1" @(@profile.ServiceTypeId == 1 ? "selected" : "")>Preocupacional</option>
                            <option value="2" @(@profile.ServiceTypeId == 2 ? "selected" : "")>Periodico</option>
                            <option value="3" @(@profile.ServiceTypeId == 3 ? "selected" : "")>Anual</option>
                            <option value="4" @(@profile.ServiceTypeId == 4 ? "selected" : "")>Visita</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control form-white select-TypeFormat" id="ddlTypeFormat">
                            <option value="-1" @(@profile.TypeFormatId == -1 ? "selected" : "")>--Seleccionar--</option>
                            <option value="1" @(@profile.TypeFormatId == 1 ? "selected" : "")>RM 312</option>
                            <option value="2" @(@profile.TypeFormatId == 2 ? "selected" : "")>Anexo 16</option>
                            <option value="3" @(@profile.TypeFormatId == 3 ? "selected" : "")>Anexo 16.A</option>
                            <option value="4" @(@profile.TypeFormatId == 4 ? "selected" : "")>Ambos</option>
                            <option value="5" @(@profile.TypeFormatId == 5 ? "selected" : "")>Componente</option>
                        </select>
                    </td>
                    <td class="counterComp col-center">0</td>
                    <td class="subTotal col-center">0</td>
                    <td>@profile.QuotationProfileId</td>
                    <td class="col-center"><i class="fa fa-close text-danger m-r-10" onclick="RemoveProfile(event)"></i></td>
                </tr>
                    <tr class="perfil-@profile.QuotationProfileId child">
                        <td colspan="10">
                            <table class="table-examenes">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="display:none">RecordType</th>
                                        <th style="display:none">RecordStatus</th>
                                        <th>EXAMENES - PERFIL</th>

                                        <th>CONDICIONAL EDAD</th>
                                        <th>EDAD</th>
                                        <th>CONDICIONAL GÉNERO</th>
                                        <th class="col-center">PRECIO MÍNIMO</th>
                                        <th class="col-center">PRECIO LISTA</th>
                                        <th class="col-center">PRECIO VENTA</th>
                                        <th class="col-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var valor = "";
                                        for (int i = 0; i < profile.ProfileComponents.Count; i++)
                                        {
                                            var valorAntiguo = profile.ProfileComponents[i].CategoryName;
                                            if (valor != valorAntiguo)
                                            {
                                                valor = valorAntiguo;
                                                <tr id="perfil-@profile.QuotationProfileId-@profile.ProfileComponents[i].CategoryName">
                                                    <td><i class="fa fa-plus text-inverse m-r-10" onclick="show('perfil-@profile.QuotationProfileId-@profile.ProfileComponents[i].CategoryName')"></i></td>

                                                    <td colspan="9">@profile.ProfileComponents[i].CategoryName</td>
                                                    <td style="display:none" class="col-center"></td>
                                                </tr>
                                                i--;
                                            }
                                            else
                                            {
                                <tr class="component perfil-@profile.QuotationProfileId-@profile.ProfileComponents[i].CategoryName">
                                    <td style="color:white">@profile.ProfileComponents[i].ProfileComponentId</td>
                                    <td style="display:none">@profile.ProfileComponents[i].CategoryId</td>
                                    <td style="display:none">@profile.ProfileComponents[i].ComponentId</td>
                                    <td style="display:none" class="RecordType">@profile.ProfileComponents[i].RecordType</td>
                                    <td style="display:none" class="RecordStatus">@profile.ProfileComponents[i].RecordStatus</td>
                                    <td>@profile.ProfileComponents[i].ComponentName</td>
                                    <td>
                                        <select class="form-control form-white select-ConditionalAge" id="ddlConditionalAge">
                                            <option value="-1" @(@profile.ProfileComponents[i].AgeConditionalId == null ? "selected" : "")></option>
                                            <option value="1" @(@profile.ProfileComponents[i].AgeConditionalId == 1 ? "selected" : "")>Mayores de</option>
                                            <option value="2" @(@profile.ProfileComponents[i].AgeConditionalId == 2 ? "selected" : "")>Menores de</option>                                            
                                        </select>
                                    </td>
                                    <td><input class="form-control input-numeric" type="text" maxlength="2" min="0" max="90" onkeypress="validateInputNumber(event)" value="@profile.ProfileComponents[i].Age" /></td>
                                    <td>
                                        <select class="form-control form-white select-ConditionalGender" id="ddlConditionalGender">
                                            <option value="-1" @(@profile.ProfileComponents[i].GenderConditionalId == null ? "selected" : "")></option>
                                            <option value="1" @(@profile.ProfileComponents[i].GenderConditionalId == 1 ? "selected" : "")>Masculino</option>
                                            <option value="2" @(@profile.ProfileComponents[i].GenderConditionalId == 2 ? "selected" : "")>Femenino</option>
                                            <option value="2" @(@profile.ProfileComponents[i].GenderConditionalId == 3 ? "selected" : "")>Ambos</option>
                                        </select>
                                    </td>
                                    <td class="col-center">@profile.ProfileComponents[i].MinPrice</td>
                                    <td class="col-center">@profile.ProfileComponents[i].PriceList</td>
                                    <td class="col-center"><input type="text" id="@profile.ProfileComponents[i].ComponentId" class="salePrice input-numeric form-control" value="@profile.ProfileComponents[i].SalePrice" /> </td>
                                    <td class="col-center"><i class="fa fa-close text-danger m-r-10" onclick="RemoveComponent(event)"></i></td>
                                </tr>
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card card-body table-total">
        <table class="table color-bordered-table muted-bordered-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th style="text-align:right">TOTALES</th>
                    <th class="nroTotalComp col-center"></th>
                    <th class="Total col-center"></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="row">

    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><button onclick="AddAdditionalExamns()" class="btn btn-success waves-effect waves-light m-r-10">Agregar Examen Adicional</button></h4>
                <table class="table color-bordered-table primary-bordered-table">
                    <thead>
                        <tr>
                            <th>Examen</th>
                            <th>Precio Mínimo</th>
                            <th>Precio Lista</th>
                            <th>Precio Venta</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-Add-Examns">
                        @foreach (var examAddi in ViewBag.DataQuotation.AdditionalComponentsQuotes)
                        {
                            <tr id="@examAddi.AdditionalComponentsQuoteId">

                                <td style="display:none" class="RecordType">@examAddi.RecordType</td>
                                <td style="display:none" class="RecordStatus">@examAddi.RecordStatus</td>
                                <td style="display:none" class="AddExamID">@examAddi.AdditionalComponentsQuoteId</td>
                                <td style="display:none" class="AddExamQuotationId"></td>
                                <td style="display:none" class="AddExamCatId">@examAddi.CategoryId</td>
                                <td style="display:none" class="AddExamCatName">@examAddi.CategoryName</td>
                                <td style="display:none" class="AddExamCompId">@examAddi.ComponentId</td>
                                <td style="display:none" class="AddExamCompName">@examAddi.ComponentName</td>
                                <td>@examAddi.ComponentName</td>
                                <td class='AddExamPreMin'>@examAddi.MinPrice</td>
                                <td class='AddExamPreLis'>@examAddi.PriceList</td>
                                <td>@examAddi.SalePrice</td>
                                <td class='col-center'><i class='fa fa-close text-danger m-r-10' onclick='RemoveAddExamn(event)'></i></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Condiciones Comerciales</h4>
                <form method="post" class="mt-2">
                    <div class="form-group">
                        <textarea id="txtCommercialTerms" class="textarea_editor form-control" rows="15" placeholder="Enter text ..." required>@CommercialTerms</textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-info">Exportar Propuesta</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(77px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                        @*<a class="dropdown-item" href="@Url.Action("GetHTMLPageAsPDF","Quotation")" target="_blank">Vista Previa</a>*@
                        @*<a id="getPDF" href="#" class="dropdown-item" onclick="PreviewQuotation();">Vista Previa</a>*@
                        <a class="dropdown-item preview_quotation" href="javascript:;">Vista Previa</a>
                        <a class="dropdown-item" onclick="">Excel</a>
                        <a class="dropdown-item" onclick="">Separar Propuesta</a>
                        <a class="dropdown-item" onclick="">Mas Opciones</a>
                    </div>
                </div>
                <button onclick="SaveQuotation(event)" class="btn btn-primary waves-effect waves-light m-r-10">Grabar Cotización</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog_pdf" style="display: none">
</div>

<div id="exportPdf" style="display: none">

    <div>
        <table class="tg" style="undefined;table-layout: fixed; width: 678px">
            <colgroup>
                <col style="width: 214px">
                <col style="width: 198px">
                <col style="width: 113px">
                <col style="width: 153px">
            </colgroup>
            <tr>
                <th class="tg-0pky" rowspan="3"><img src="~/assets/images/log-emp-preview.jpeg" style="width: 200px;" alt="" /></th>
                <th class="tg-nrix" rowspan="3"><span style="font-weight:bold">VISTA PREVIA COTIZACIÓN</span></th>
                <th class="tg-9wq8">PROPUESTA</th>
                <th class="tg-baqh">360 V1</th>
            </tr>
            <tr>
                <td class="tg-nrix">FECHA</td>
                <td class="tg-baqh">11 Nov 2019</td>
            </tr>
            <tr>
                <td class="tg-nrix">PÁGINA</td>
                <td class="tg-baqh">18 - 27</td>
            </tr>
        </table>
    </div>
    &nbsp;
    <div>
        <style type="text/css">
            .tg {
                border-collapse: collapse;
                border-spacing: 0;
            }

                .tg td {
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    padding: 10px 5px;
                    border-style: solid;
                    border-width: 1px;
                    overflow: hidden;
                    word-break: normal;
                    border-color: black;
                }

                .tg th {
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    padding: 10px 5px;
                    border-style: solid;
                    border-width: 1px;
                    overflow: hidden;
                    word-break: normal;
                    border-color: black;
                }

                .tg .tg-nrix {
                    text-align: center;
                    vertical-align: middle
                }

                .tg .tg-0lax {
                    text-align: left;
                    vertical-align: top
                }
        </style>
        <table id="preview-detail" class="tg" style="undefined;table-layout: fixed; width: 678px">
            <colgroup>
                <col style="width: 146px">
                <col style="width: 213px">
                <col style="width: 106px">
                <col style="width: 106px">
                <col style="width: 106px">
            </colgroup>
            @*  <tr>
                  <th class="tg-nrix"></th>
                  <th class="tg-0lax"></th>
                  <th class="tg-nrix">Perfil 1</th>
                </tr>
                <tr>
                  <td class="tg-nrix" rowspan="3">Triaje</td>
                  <td class="tg-0lax">Examen 1</td>
                  <td class="tg-nrix"></td>
                </tr>
                <tr>
                  <td class="tg-0lax">Examen 2</td>
                  <td class="tg-nrix"></td>
                </tr>
                <tr>
                  <td class="tg-0lax">Examen 3</td>
                  <td class="tg-nrix"></td>
                </tr>
                <tr>
                  <td class="tg-baqh">ABC</td>
                  <td class="tg-0lax">Examen</td>
                  <td class="tg-0lax"></td>
                </tr>*@
        </table>
    </div>
</div>

<!-- ============================================================== -->
<!-- MODAL -->
<!-- ============================================================== -->
<div class="modal fade" id="perfilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="alert-popup-profile"></div>
            <div>
                <div class="form-inline p-3">
                    <input type="text" name="search" id="search" class="form-control form-control-lg rounded-0 border-info" placeholder="Buscar..." style="width:100%" />                    
                </div>
            </div>
            <div class="col-9" style="position:absolute; margin-top:60px; z-index:2000;">
                <div class="list-group" id="show-list">
                </div>
            </div>
            <div class="modal-body tables-profile" style="font-size:10px;">

                <table class="table color-table success-table ">
                    <thead>
                        <tr style="background-color:lightgreen">
                            <th style="width:20px;"></th>
                            <th>PERFIL: </th>
                        </tr>
                    </thead>
                    <tbody id="tbody-profile">
                    </tbody>
                </table>

                <table class="table color-table muted-table ">
                    <thead>
                        <tr style="background-color:lightgray">
                            <th style="width:20px;"></th>
                            <th>SELECCIONE MÁS EXÁMENES OCUPACIONALES</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-profile-unselectd">
                    </tbody>
                </table>

            </div>

            <div class="modal-footer">
                @*<div class="col-10">
                        <input type="checkbox" id="chkProfile" value="check"><label for="chkProfile">Guardar Perfil</label>
                    </div>*@
                <div class="col-12 col-md-4">
                    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="AddProfile()">Seleccionar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- MODAL -->
<!-- ============================================================== -->

<div id="changeNameProfile" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">            
            <div class="modal-header">
                <h5 class="modal-title">Perfil para la cotización</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" id="txtNameProfileQuotation" value="" />
            </div>
            <div class="modal-footer">
                <button onclick="SaveProfile()" type="button" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- MODAL -->
<!-- ============================================================== -->

<div id="updateVersion" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">!IMPORTANTE¡</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>La versión actual de esta cotización es : <span id="infoCot"></span></p>
                <p>Elija una opción</p>
                <div class="row">
                    <div class="col-6">
                        <input type="checkbox" id="chkVersionNew" value="check"><label for="chkProfile">Nueva Sub-Versión</label>
                    </div>
                    <div class="col-6">
                        <input type="checkbox" id="chkVersionNext" value="check"><label for="chkProfile">Versión Siguiente</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button onclick="SaveProfile()" type="button" class="btn btn-primary">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- MODAL -->
<!-- ============================================================== -->
<div class="modal fade" id="TrackingModalQuotation" tabindex="-1" role="dialog" aria-labelledby="TrackingModalLabel1">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Registrar Seguimiento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="padding:0">
                <div class="form-group col-12">
                    <label for="txtComentaryQuotation">Comentario</label>
                    <textarea type="text" class="form-control" id="txtComentary" autofocus></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="SaveTracking()" type="button" class="btn btn-warning" data-dismiss="modal">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- wysuhtml5 Plugin JavaScript -->
    <script src="~/assets/plugins/html5-editor/wysihtml5-0.3.0.js"></script>
    <script src="~/assets/plugins/html5-editor/bootstrap-wysihtml5.js"></script>
    <script src="~/Scripts/APIController.js"></script>
    <script src="~/Scripts/Quotation.js"></script>
    <script src="~/Scripts/QuotationValidation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

}


