
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var companyId = 0;
    if (ViewBag.Detail.companyHeadquarter.Count != 0)
    {
        companyId = ViewBag.Detail.CompanyId;
    }
}

@section Styles{
    <link rel="stylesheet" href="~/assets/plugins/dropify/dist/css/dropify.min.css">
}


<div class="row">
    <div class="col-lg-12">
        <div class="card mb-2">
            <div class="card-body pt-2 pb-2">
                <h3 class="box-title m-b-0 text-center">Información de Empresa</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-2">
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col">
                        <div class="form-group">
                            <input type="hidden" id="txtCompanyId" value="@companyId" />
                            <label for="txtIdentificationNumber">RUC<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtIdentificationNumber" value="@ViewBag.Detail.IdentificationNumber" placeholder="Ingresar RUC" maxlength="11">
                        </div>
                        <div class="form-group">
                            <label for="txtCompanyName">Empresa<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtCompanyName" value="@ViewBag.Detail.Name" placeholder="Ingresar Nombre Empresa">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body m-0 p-0">
                            <input type="file" id="input-file-now" class="dropify" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtAddress">Dirección<span class="text-danger"></span></label>
                            <input type="text" class="form-control" id="txtAddress" value="@ViewBag.Detail.Address" placeholder="Ingresar Dirección">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="txtDistric">Distrito<span class="text-danger"></span></label>
                                    <input type="text" class="form-control" id="txtDistrict" value="@ViewBag.Detail.District" placeholder="Ingresar Distrito">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="txtPhoneCompany">Teléfono Empresa<span class="text-danger"></span></label>
                                    <input type="tel" class="form-control" id="txtPhoneCompany" value="@ViewBag.Detail.PhoneCompany" placeholder="Ingresar Teléfono">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="txtContactName">Contacto<span class="text-danger"></span></label>
                                    <input type="text" class="form-control" id="txtContactName" value="@ViewBag.Detail.ContactName" placeholder="Ingresar Contacto">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-2">
                                    <label for="txtPhoneNumber">Teléfono Contacto<span class="text-danger"></span></label>
                                    <input type="text" class="form-control" id="txtPhoneNumber" value="@ViewBag.Detail.PhoneNumber" placeholder="Ingresar Teléfono">

                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-2">
                                    <label for="txtEmail">Email<span class="text-danger"></span></label>
                                    <input type="text" class="form-control" id="txtMail" value="@ViewBag.Detail.Mail" placeholder="Ingresar Email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="col-lg-12 col-xlg-2 p-0">
                            <div class="card mb-1">
                                <button type="button" id="btnNewHeadquarter" class="btn waves-effect waves-light btn-outline-primary">Nueva Sede</button>
                            </div>
                        </div>

                        <div class="table-responsive table-headquarter" style="height:138px">
                            <table id="mainTable" class="table editable-table table-bordered table-striped m-b-0">
                                <thead>
                                    <tr>
                                        @*<th>RecordType</th>
                                            <th>RecordStatus</th>*@
                                        <th>Sede</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th class="text-nowrap">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.Detail.companyHeadquarter)
                                    {
                                        <tr>
                                            <td style="display:none" class="RecordType">@item.RecordType</td>
                                            <td style="display:none" class="RecordStatus">@item.RecordStatus</td>
                                            <td style="display:none">@item.CompanyHeadquarterId</td>
                                            <td class="disableTd">@item.Name</td>
                                            <td class="disableTd"> @item.Address</td>
                                            <td class="disableTd"> @item.PhoneNumber</td>
                                            <td class="disableBtn text-nowrap">
                                                <i id="edit-@item.CompanyHeadquarterId" class="btnEdit fa fa-pencil text-inverse m-r-10"></i>
                                                <i id="delete-@item.CompanyHeadquarterId" class="btnDelete fa fa-close text-danger"></i>
                                            </td>
                                            <td style="display:none">@item.CompanyId</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="col-lg p-0">
                    <div class="col-lg-2 offset-6 card mb-1 text-center">
                        <button onclick="Save()" class="btn btn-success waves-effect waves-light m-r-10">Grabar Empresa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <!-- Editable -->
    <script src="~/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/assets/plugins/tiny-editable/numeric-input-example.js"></script>
    <script src="~/Scripts/APIController.js"></script>
    <!-- ============================================================== -->
    <!-- Plugins for this page -->
    <!-- ============================================================== -->
    <!-- jQuery file upload -->
    <script src="~/assets/plugins/dropify/dist/js/dropify.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>

    <script type="text/javascript">

        bootstrapValidate('#txtMail', 'email:Ingrese un email correcto');
        bootstrapValidate('#txtIdentificationNumber', 'required:Campo requerido');
        bootstrapValidate('#txtIdentificationNumber', 'max:11:Máximo 11 caracteres');
        bootstrapValidate('#txtIdentificationNumber', 'integer:solo números');



        bootstrapValidate('#txtPhoneCompany', 'required:Campo requerido');
        bootstrapValidate('#txtPhoneCompany', 'integer:solo números');

        bootstrapValidate('#txtPhoneNumber', 'required:Campo requerido');
        bootstrapValidate('#txtPhoneNumber', 'integer:solo números');

    </script>
    <script type="text/javascript">
    $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
    $('.dropify').dropify({
        messages: {
            'default': 'Arrastar y Soltar logo de la empresa',
            'replace': 'Arrastar y Soltar para reemplazar',
            'remove':  'Remover',
            'error':   'Ups, Ocurrió un problema.'
        }
    });
    $(document).ready(function () {

        $('#txtIdentificationNumber').change(function () {
            let ruc = $('#txtIdentificationNumber').val();
            //$('#ddlSede').empty();
            SearchCompany(ruc);
        });

        function SearchCompany(ruc) {
            APIController.GetCompanyByRuc(ruc).then((res) => {
                console.log(res.data);
                $('#txtCompanyId').val(res.Data.CompanyId);
                $('#txtCompanyName').val(res.Data.Name);
                $('#txtDistrict').val(res.Data.District);
                $('#txtAddress').val(res.Data.Address);

                let content = "";
                for (var i = 0; i < res.Data.companyHeadquarter.length; i++) {
                    //content += "<option value='" + res.Data.companyHeadquarter[i].CompanyHeadquarterId + "'>" + res.Data.companyHeadquarter[i].Address + "</option>";
                    content += "<tr>";

                    content += "<td style='display:none' class='RecordType'>" + res.Data.companyHeadquarter[i].RecordType + "</td>";
                    content += "<td style='display:none' class='RecordStatus'>" + res.Data.companyHeadquarter[i].RecordStatus + "</td>";
                    content += "<td style='display:none'>" + res.Data.companyHeadquarter[i].CompanyHeadquarterId + "</td>";
                    content += "<td tabindex='1'>" + res.Data.companyHeadquarter[i].Name + "</td>";
                    content += "<td tabindex='1'>" + res.Data.companyHeadquarter[i].Address + "</td>";
                    content += "<td tabindex='1'> </td>";
                    content += "<td class='disableBtn'><i id='"+"edit-"+res.Data.companyHeadquarter[i].CompanyHeadquarterId+"' class='btnEdit fa fa-pencil text-inverse m-r-10'></i><i id='"+"delete-"+res.Data.companyHeadquarter[i].CompanyHeadquarterId+"' class='btnDelete fa fa-close text-danger'></i></td>";
                    content += " </tr>";
                }
                $("tbody").append(content);

                //$('#ddlSede').append(content);

                $('#txtCompanyName').attr('readonly', false);
                $('#txtDistric').attr('readonly', false);
                $('#txtAddress').attr('readonly', false);

                $("#txtContactName").focus();

                //EN CASO SEA EDICIÓN
                //if ($('#txtCompanyHeadquarterId').val()!=0) {
                //    $("#ddlSede").val($('#txtCompanyHeadquarterId').val());
                //}

            }).catch((err) => {
                swal({
                    title: "Empresa no registrada",
                    text: "¿Desea buscar en Sunat?",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function () {
                    InfoSunat(ruc);
                });

            });
        }

        function InfoSunat(ruc) {
            APIController.GetInfoSunat(ruc).then((res) => {
                console.log(res.data);
                swal("Búsqueda correcta");
                SaveCompany(res.Data);

            }).catch((res) => {
                swal.close();
                $('#txtCompanyName').val("");
                $('#txtDistric').val("");
                $('#txtAddress').val("");
                $('#txtCompanyName').attr('readonly', false);
                $('#txtDistrict').attr('readonly', false);
                $('#txtAddress').attr('readonly', false);
            });
        }

        function SaveCompany(resp) {

            var data = {
                "Name": resp.RazonSocial,
                "IdentificationNumber": resp.Ruc,
                "Address": resp.TipoVia + ' ' + resp.CodigoZona + ' N°' + resp.Numero + ' ' + resp.NombreVia + ' ' + resp.TipoZona,
                "PhoneNumber": "",
                "ContactName": "",
                "Mail": "",
                "District": resp.Distrito,
                "PhoneCompany": "",
                "companyHeadquarter": new Array()
            }

            var detail = resp.details;
            for (var i = 0; i < detail.length; i++) {
                var headquarter = {
                    "RecordType": "Temporal",
                    "RecordStatus": "Agregado",
                    "Name": detail[i].TipoZona,
                    "Address": detail[i].TipoVia + ' ' + detail[i].NombreVia + ' N°' + detail[i].Numero,
                    "PhoneNumber": "",
                }
                data.companyHeadquarter.push(headquarter);
            }

            APIController.SaveCompany(data).then((res) => {
                SearchCompany(res.Data.IdentificationNumber);
            });
        }


        $(".disableBtn").removeAttr("tabindex");
        $(".disableTd").removeAttr("tabindex");

        $("#btnNewHeadquarter").click(function (e) {
            console.log("Event", e);
            let idTemp = Math.random().toString(36).substring(7);
            var content = "";
            content += "<tr>";

            content += "<td style='display:none' class='RecordType'>TEMPORAL</td>";
            content += "<td style='display:none' class='RecordStatus'>AGREGADO</td>";
            content += "<td style='display:none'>" + idTemp + "</td>";
            content += "<td tabindex='1'> </td>";
            content += "<td tabindex='1'> </td>";
            content += "<td tabindex='1'> </td>";
            content += "<td class='disableBtn'><i id='"+"edit-"+idTemp+"' class='btnEdit fa fa-pencil text-inverse m-r-10'></i><i id='"+"delete-"+idTemp+"' class='btnDelete fa fa-close text-danger'></i></td>";
            content += " </tr>";

            $("tbody").append(content);
        });

        $('.table-headquarter').on('click', '.btnDelete', function (e) {
            var recordType = $(this).parent().parent().find(".RecordType").html();
            var recordStatus = $(this).parent().parent().find(".RecordStatus").html();

            if (recordType === "TEMPORAL" && recordStatus === "AGREGADO") {
                $(this).parent().parent().remove();
                return;
            };

            $(this).parent().parent().find(".RecordType").text("NOTEMPORAL");
            $(this).parent().parent().find(".RecordStatus").text("ELIMINADOLOGICO");
            $(this).parent().parent().hide();
        });

        $('.table-headquarter').on('click', '.btnEdit', function (e) {
            var recordType = $(this).parent().parent().find(".RecordType").html();
            var recordStatus = $(this).parent().parent().find(".RecordStatus").html();
            $(this).parent().parent().find(".disableTd").removeClass("disableTd").attr('tabindex', '1')

            if (recordType === "TEMPORAL" && recordStatus === "AGREGADO") return;

            $(this).parent().parent().find(".RecordType").text("NOTEMPORAL");
            $(this).parent().parent().find(".RecordStatus").text("MODIFICADO");

        });

    });

    function Save() {

        //var imageLogo = $(".dropify-render img").attr("src");

        //var base64ImageContent = imageLogo.replace(
        //    /^data:image\/(png|jpg);base64,/,
        //    "");

        //console.log("base64ImageContent",base64ImageContent);



        if ($("#txtCompanyName").val() == "") {
            alert("Ingresar Nombre de Empresa");
            return;
        }

        if ($("#txtIdentificationNumber").val() == "") {
            alert("Ingresar Nombre de Empresa");
            return;
        }

        var data = {
            "CompanyId":@companyId,
            "Name": $("#txtCompanyName").val(),
            "IdentificationNumber": $("#txtIdentificationNumber").val(),
            "Address": $("#txtAddress").val(),
            "PhoneNumber": $("#txtPhoneNumber").val(),
            "ContactName": $("#txtContactName").val(),
            "Mail": $("#txtMail").val(),
            "District": $("#txtDistrict").val(),
            "PhoneCompany": $("#txtPhoneCompany ").val(),
            "companyHeadquarter": new Array()
        }

        var rowCounter = $('#mainTable > tbody tr').length; //AMC-HELP contador de filas

        $('#mainTable > tbody tr').each(function() {
            var headquarter = {
                "RecordType" : $(this).find("td").eq(0).html(),
                "RecordStatus": $(this).find("td").eq(1).html(),
                "CompanyHeadquarterId":$(this).find("td").eq(2).html(),
                "Name" :$(this).find("td").eq(3).html(),
                "Address" :$(this).find("td").eq(4).html(),
                "PhoneNumber" :$(this).find("td").eq(5).html(),
                "CompanyId":$(this).find("td").eq(7).html(),
            }
            data.companyHeadquarter.push(headquarter);
        });

        //console.log(data);
        APIController.SaveCompany(data).then((res) => {
            alert("Empresa creada correctamente");
            //window.location.href = "http://beto1826-001-site4.etempurl.com/Company/Index";
            window.location.href = "/Company/Index/";
        });

    }

    </script>

    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
}



