
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Listado de Empresas</h4>
        <h6 class="card-subtitle">Mantenimiento de Empresas</h6>
        <div class="table-responsive m-t-40">
            <table id="tableOrganizations" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>RUC</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Nombre Contacto</th>
                        <th>Email</th>
                        <th class="text-nowrap">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.data)
                    {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.IdentificationNumber</td>
                        <td>@item.Address</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.ContactName</td>
                        <td>@item.Mail</td>
                        <td class="text-nowrap">
                            <div class="btn-list">
                                <a class="" href="#" data-toggle="tooltip" data-original-title="Contactos"> <i onclick="Ver(@item.CompanyId)" class="fa fa-user btn waves-effect waves-light btn-primary"></i></a>
                                <a class="" href="@Url.Action("Detail","Company",new {id = @item.CompanyId })" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil btn waves-effect waves-light btn-secondary"></i></a>
                                <a class="" href="#" data-toggle="tooltip" data-original-title="Close"><i class="fa fa-close btn waves-effect waves-light btn-danger"></i></a>
                            </div>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <button onclick="location.href='@Url.Action("Detail","Company",new {id = 0})'" class="btn btn-success waves-effect waves-light m-r-10">Registrar Empresa</button>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Contactos Registrados</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="font-size:10px;">
                <table class="table color-table success-table ">
                    <thead>
                        <tr>
                            <th>Sede</th>
                            <th>Nombre</th>
                            <th>US</th>
                            <th>DNI</th>
                            <th>CM</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="table-contacts">
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>                
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="~/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/APIController.js"></script>

<script>
    $(document).ready(function () {

       

        $('#tableOrganizations').dataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });

    });

    function Ver(companyId) {        
        $("#exampleModal").modal("show");

         APIController.GetContacts(companyId).then((res) => {          
             var data = res.Data;             
             var content = "";
             for (var i = 0; i < data.length; i++) {                 
                content += '<tr>';
                content += '<td>'+ data[i]["CompanyHeadquarterName"] +'</td>';
                content += '<td>'+ data[i]["FullName"] +'</td>';
                content += '<td>'+ data[i]["TypeUs"] +'</td>';
                 content += '<td>' + data[i]["Dni"] + '</td>';
                 content += '<td>'+ data[i]["CM"] +'</td>';
                content += '<td>'+ data[i]["Phone"] +'</td>';
                content += '<td>'+ data[i]["Email"] +'</td>';
                content += '</tr>'
             }
             $("#table-contacts").empty();
             $("#table-contacts").append(content);
        });

        }
</script>

