@model IEnumerable<BE.ListCompanyDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    <link href="~/plugins/fooTable/css/footable.core.css" rel="stylesheet">
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Listado de Empresas</h1>
    </div>
</div>

<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Mantenimiento de Empresas</h3>
        </div>
        <div class="panel-body">
            <table id="demo-foo-addrow" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                <thead>
                    <tr>
                        <th data-sort-initial="true" data-toggle="true">EMPRESA</th>
                        <th>RUC</th>
                        <th data-hide="phone, tablet">DIRECCIÓN</th>
                        <th data-hide="phone, tablet">TELEFONO</th>
                        <th data-hide="phone, tablet">NOMBRE CONTACTO</th>
                        <th data-hide="phone, tablet">EMAIL</th>
                        <th data-hide="phone, tablet" style="width:210px;"></th>
                    </tr>
                </thead>
                <div class="pad-btm form-inline">
                    <div class="row">
                        <div class="col-sm-6 text-xs-center">
                            <div class="form-group">

                                <a href="@Url.Action("Detail","Company",new { id = 0})" class="btn btn-purple"> Registrar Empresa</a>

                            </div>
                        </div>
                        <div class="col-sm-6 text-xs-center text-right">
                            <div class="form-group">
                                <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.IdentificationNumber</td>
                            <td>@item.Address</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.ContactName</td>
                            <td>@item.Mail</td>
                            <td>
                                <div class="eq-height">
                                    <div class="btn-group mar-rgt">
                                        <a data-modal="" href="@Url.Action("Contacts","Company",new {id = item.CompanyId })" class="btn btn-mint btn-active-purple"> <i class="ti-user"></i></a>
                                        <a class="btn btn-default btn-active-purple" href="@Url.Action("Detail","Company",new {id = item.CompanyId })" data-toggle="tooltip" data-original-title="Editar"><i class="ti-pencil"></i></a>
                                        <a class="btn btn-warning btn-active-purple" href="@Url.Action("Register","Quotation", new { id = 0, ruc = item.IdentificationNumber})" data-toggle="tooltip" data-original-title="Crear Cotización"><i class="ti-file"></i></a>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div class="text-right">
                                <ul class="pagination"></ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<div class="modal" id="companyContacts">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="companyContactsContent"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Scripts/demo/tables-footable.js"></script>
    <script src="~/Scripts/Portal/Company/Index.js"></script>
}
